#!.infinibox-csi-driver/
#infinibox-csi-driver

# Folders
vendor
artifact

### VisualStudioCode ###
.vscode/*

# other
go.sum

deploy/helm/infinibox-csi-driver/values_gitlab_registry.yaml

# vim
*.swp
*.swo
*.un~
Session.vim
