#!.infinibox-csi-driver/
#infinibox-csi-driver

# Folders
vendor
artifact

### VisualStudioCode ###
.vscode/*

### Intellij ###
.idea/*

# other
go.sum

deploy/helm/infinibox-csi-driver/values_gitlab_registry.yaml
infinibox-csi-driver

# vim
*.swp
*.swo
*.un~
Session.vim
Makefile-vars-git-ignored
